<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>File Share</title>
    {% endif %}
    <style>
        .bg-pur {
            background-color: purple;
        }
    </style>
</head>

<body>
    <div class="navbar vbar-fixed-top navbar-dark bg-pur">
        <div class="container">
            {% if username %}
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="20px" height="20px">
                <path fill="#AB7C94" d="M64 480H448c35.3 0 64-28.7 64-64V160c0-35.3-28.7-64-64-64H288c-10.1 0-19.6-4.7-25.6-12.8L243.2 57.6C231.1 41.5 212.1 32 192 32H64C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64z"/>
                </svg>
                <a class="navbar-brand mr-1" href="/logout">Logout</a>   
                <a class="navbar-brand mr-1" href="/account">Account</a>
            {% else %}
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="20px" height="20px">
                <path fill="#AB7C94" d="M64 480H448c35.3 0 64-28.7 64-64V160c0-35.3-28.7-64-64-64H288c-10.1 0-19.6-4.7-25.6-12.8L243.2 57.6C231.1 41.5 212.1 32 192 32H64C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64z"/>
                </svg>
                <a class="navbar-brand mr-1" href="/register">Register</a>
                <a class="navbar-brand mr-1" href="/login">Login</a>
            {% endif %}
        </div>
    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
    
    <div class="container pt-4">
        {% block body %}{% endblock %}
    </div>
</body>
</html>
