<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='main.css') }}"
    />
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>File Share</title>
    {% endif %}
  </head>

  <body>
    <div class="navbar vbar-fixed-top navbar-dark bg-pur">
      {% if current_user.is_authenticated %}
      <a href="/home" class="navbar-brand"> 
        <img src="{{ url_for('static',filename='icon.svg') }}"/> 
        File Share
      </a>
      <a class="navbar-text" href="/account">Account</a>
      <a class="navbar-text" href="/logout">Logout</a>

      {% else %}
      <a href="/home" class="navbar-brand">  
        <img src="{{url_for('static',filename='icon.svg')}}"/>
        File Share
      </a>
      <a class="navbar-text" href="/register">Register</a>
      <a class="navbar-text" href="/login">Login</a>
      {% endif %}
    </div>
    <div class="row float-right mr-3 mt-4">
    {% with messages = get_flashed_messages() %} 
        {% if messages %} 
            {% for message in messages %}
            <div class="alert alert-dark" id="hide" role="alert">
                    {{ message }}
                </div>       
                {% endfor %}
        {% endif %} 
        {% endwith %}
    </div>
    <main role="main" class="container mt-4">
      {% block body %}{% endblock %}
    </main>
    <script src="{{ url_for('static', filename='script.js') }}" type="text/javascript">
      </script>
  </body>
</html>
