{% extends "layout.html" %}
{% block body %}
    <h2 class="border-bottom">Log In</h2>
    <form  class="form form-horizontal" method="POST">
        <div class="form-group">
        {{ form.hidden_tag() }}
        {{ form.email(class="form-control form-control-sm", placeholder="Enter email") }}
        </div>
        <div class="form-group">
            {{ form.password(class="form-control form-control-sm", placeholder="Enter Password") }}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
        
    </form>
{% endblock body%}

