{% extends "layout.html" %}
{% block body %}
    <form  class="form form-horizontal" method="POST">
        <h2>Signup</h2>
        <div class="form-group">
            {{ form.hidden_tag() }}
            {{ form.username(class="form-control form-control-sm", placeholder="Enter username") }}
        </div>
        <div class="form-group">
        
        {{ form.email(class="form-control form-control-sm", placeholder="Enter email") }}
        </div>
        <div class="form-group">
            {{ form.password(class="form-control form-control-sm", placeholder="Enter password") }}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
            <p class="text-muted pt-1">Already have an account? <a href="/login">Login</a></p>
        </div>
        {% with messages = get_flashed_messages() %} 
        {% if messages %} 
            {% for message in messages %}
                <div class="alert alert-dark alert-dismissible fade show pt-2" role="alert">
                  {{ message }}
                </div>
            {% endfor %} 
        {% endif %} 
        {% endwith %} 
    </form>
{% endblock body%}

